<main class="main">

  <app-card type="members">
    <header>
      <app-title title="Minim dolorin"></app-title>
      <p>Minim dolor in amet nulla laboris enim dolore consequat</p>
    </header>
    <app-userlist>
      <app-user src="images/user-02.png" alt="Patricio Sassa" role="Fraud Analyst" name="Patricio Sassa" label="FOLLOW" type="tertiary"></app-user>
      <app-user src="images/user-03.jpg" alt="Jack Doohan" role="Web Developer" name="Jack Doohan" label="FOLLOW" type="tertiary"></app-user>
      <app-user src="images/user-04.jpg" alt="Frank Colapinto" role="Web Driver" name="Frank Colapinto" label="FOLLOW" type="tertiary"></app-user>
      <app-user src="images/user-05.png" alt="Roberto Fox" role="President of Sales" name="Roberto Fox" label="FOLLOW" type="tertiary"></app-user>
      <app-user src="images/user-08.jpeg" alt="Michael Landon" role="Office Manager" name="Michael Landon" label="FOLLOW" type="tertiary"></app-user>
    </app-userlist>
    <app-footer>
      <div class="card__footer--gray-text">
        543 STUDENTS
      </div>
      <a href="#" class="card__footer--footer-link">
        VIEW ALL MEMBERS
      </a>
    </app-footer>
  </app-card>

  <app-card type="user">
    <app-avatar src="images/user-04.jpg" alt="John Connor" role="Web Designer"></app-avatar>
    <app-footer>
      <app-button label="BUTTON" type="secondary"></app-button>
      <app-button label="BUTTON" type="primary"></app-button>
    </app-footer>
  </app-card>

  <app-card type="product">
    <app-header></app-header>
    <app-picture src="images/cupcakes.jpg" alt="This is sparta!" class="full-width"></app-picture>
    <app-info text="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium sit aspernatur aut."></app-info>
    <app-footer>
      <app-price></app-price>
      <app-button label="ORDER NOW" type="secondary" size="xl"></app-button>
    </app-footer>
  </app-card>

  <app-card type="banner">
    <app-picture src="images/bauhaus.png" alt="Piece of art" class="full-width"></app-picture>
    <app-title title="Ui card long title for test"></app-title>
    <app-info text="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut."></app-info>
    <app-button label="ACTION NOW" type="action"></app-button>
  </app-card>

</main>
