<main class="main">

  <app-card *ngIf="data?.sections[0]" [type]="data.sections[0].type">
    <header>
      <app-title [title]="data.sections[0].title"></app-title>
      <app-info [text]="data.sections[0].description"></app-info>
    </header>
    <app-userlist [users]="data.sections[0].users"></app-userlist>
    <app-footer>
      <div class="card__footer--gray-text">
        {{data.sections[0].footer.text}}
      </div>
      <a href="{{data.sections[0].footer.action.link}}" class="card__footer--footer-link">
        {{data.sections[0].footer.action.label}}
      </a>
    </app-footer>
  </app-card>

  <app-card *ngIf="data?.sections[1]" [type]="data.sections[1].type">
    <app-avatar 
      [src]="data.sections[1].avatar" 
      [name]="data.sections[1].name" 
      [alt]="data.sections[1].name"
      [role]="data.sections[1].role">
    </app-avatar>
    <app-footer>
      <app-button
        *ngFor="let button of data.sections[1].buttons"
        [label]="button.label" 
        [type]="button.type" 
      >
      </app-button>
    </app-footer>
  </app-card>

  <app-card *ngIf="data?.sections[2]" [type]="data?.sections[2].type">
    <app-header [title]="data.sections[2].title" [icons]="data.sections[2].icons"></app-header>
    <app-picture 
      [src]="data.sections[2].src" 
      [alt]="data.sections[2].alt" 
      [width]="data.sections[2].width">
    </app-picture>
    <app-info [text]="data.sections[2].description"></app-info>
    <app-footer>
      <app-price 
        [current]="data.sections[2].price.current.toFixed(2)" 
        [original]="data.sections[2].price.original.toFixed(2)">
      </app-price>
      <app-button 
        [label]="data.sections[2].button.label" 
        [type]="data.sections[2].button.type" 
        [size]="data.sections[2].button.size">
      </app-button>
    </app-footer>
  </app-card>

  <app-card *ngIf="data?.sections[3]"  [type]="data?.sections[3].type">
    <app-picture [src]="data.sections[3].src" [alt]="data.sections[3].alt" [width]="data.sections[3].width"></app-picture>
    <app-title [title]="data.sections[3].title"></app-title>
    <app-info [text]="data.sections[3].description"></app-info>
    <app-button [label]="data.sections[3].button.label" [type]="data.sections[3].button.type"></app-button>
  </app-card>

</main>
